.plane {
  width: 32rem;
  height: 32rem;
  background-color: aliceblue;
  margin: 5rem;
  border: 1px solid blue;
  position: relative;
}

.point {
  border: 1px solid black;
  border-radius: 50%;
  width: .5rem;
  height: .5rem;
  position: absolute;
}

.line {
  position: absolute;
  border: 1px solid black;
  width: 33rem;
  margin-left: -.5rem;
}
